ul.form {
  list-style-type: none;
  padding: 0;

  & input[type=checkbox] {
    display: inline-block;
  }

  & label::before {
    content: '';
  }
}

.field {
  margin-bottom: 15px;

  label {
    display: block;
    padding-bottom: 5px;
    
    &:hover {
      cursor: initial;
      opacity: 1;
    }
  }

  input {
    width: 100%;
    padding-left: 5px;
    box-sizing: border-box;
  }
}
